html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    text-align: center;
    font: 20px 'IBM Plex Sans', sans-serif;
    color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure the body takes at least the full height of the viewport */
}

@media (min-width: 768px) {
    body {
        padding-top: 40px;
    }
}

@media (max-width: 640px) {

    /* Styles for portrait screens */
    .centered-image {
        margin-top: 0;
        display: flex;
        justify-content: center;
    }

    .centered-image img {
        max-width: 100%;
        height: auto;
    }
}

/* Styles for the logo in the header and footer */
.brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.header-logo-image,
.footer-logo-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
    padding-left: 0px;
}

.footer-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-title0 {
    margin-left: 10px;
}