html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    text-align: center;
    font: 20px 'IBM Plex Sans', sans-serif;
    color: #333;
    padding: 20px;
    margin: 0;
}

@media (min-width: 768px) {
    body {
        padding-top: 40px;
    }
}

article {
    display: block;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    font-size: medium;
}

h1 {
    font-size: 2em;
}

p {
    margin-bottom: 1.5em;
    text-align: justify;
}

a {
    color: #dc8100;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
}

.centered-image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media (max-width: 640px) {
    .centered-image {
        margin-top: 0;
    }

    .centered-image img {
        max-width: 100%;
        height: auto;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* Styles for the logo in the header and footer */
.brand,
.footer-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.header-logo-image,
.footer-logo-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
    padding-left: 0px;
}

.footer-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-title0 {
    margin-left: 10px;
}